@import "__var.scss";


// .navbar{
//     display: flex;
//     display: none;
//     background-color: red;
// }
.nav-input{
    display: none;
    // visibility: hidden;
}
.nav-wrapper-nav{
    display: none;
    // display: flex;
    position: absolute;

    background-color: white;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 1px;
    padding: 1em;
    line-height: 2em;

    flex-direction: column;
    margin: 10px 0px;
    z-index: 9999;
}
.nav-input:checked ~ nav{
    border: green 5px solid;
    display: none;
}
