///////////////////////////////////////////
//*HAMBURGER MENU FOR THE MOBILE VERSION*//
//////////////////////////////////////////

//Later on use JS to uncheck the checkbox insdead of using all these classes. Add eventlistner and use property "checkAll, false".

@mixin hamburger-design {
  background-color: white;
  border-radius: 500px;
  width: 20px;
  height: 2px;
  transition: transform 300ms, background-color 300ms;
}

#menu-btn-checkbox {
  display: none;
  width: 20px;
  height: 20px;
}
.menu-btn-container {
  place-self: flex-end;
  border: black 0px solid;
  height: min-content;
  width: min-content;
  padding: 0.8em;
  cursor: pointer;
}

/*BUTTON DESIGN*/
.menu-btn {
  @include hamburger-design();
  position: relative;
  margin: 4px 0px;
}
.menu-btn::before {
  display: block;
  content: "";
  @include hamburger-design();
  position: absolute;
  top: 5px;
}
.menu-btn::after {
  display: block;
  content: "";
  @include hamburger-design();
  position: absolute;
  top: -5px;
}

/* ANIMATION */
.menu-btn-checkbox:checked ~ .menu-btn-container .menu-btn {
  background-color: transparent;
}
.menu-btn-checkbox:checked ~ .menu-btn-container .menu-btn::before {
  transform: rotate(-45deg) translateX(0px) translateY(-7px);
}
.menu-btn-checkbox:checked ~ .menu-btn-container .menu-btn::after {
  transform: rotate(45deg) translateX(0px) translateY(7px);
}
// @media (max-width: 500px) {

.menu-btn-checkbox:checked ~ .navbar {
  //Add filter on the background. #ToDo
  padding: 1em;
  max-height: 90vh;
  transition: max-height 300ms ease-in-out, padding 300ms ease-in-out;
}

.navbar {
  position: absolute;
  overflow: hidden;

  background-color: white;
  border-radius: 10px;
  gap: 25px;
  box-shadow: 0px 0px 8px white;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-self: center;

  max-height: 0px;

  @media (min-width: 700px) {
    box-shadow: 0px 0px 0px;
    width: unset;
    // transition: padding 0ms;
  }
    
  
  width: 90vw;

  top: 100px;

  @media (max-width: 695px) {
  transition: max-height 300ms ease-in-out, padding 300ms ease-in-out;
  }
  // transition: max-height 300ms ease-in-out, padding 00ms ease-in-out;
  z-index: 9;
}

//////////////////////////////////////////
/////////* NAV ACCODRIAN DESIGN */////////
//////////////////////////////////////////

.nav-input {
  //changing chang changed
  display: none;
}
.account-btn-wrapper {
  align-self: center;
}
.nav-item {
  position: relative;
  display: grid;
  place-items: center;
}
.nav-list-wrapper-label {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.nav-input:checked ~ .nav-wrapper-nav {
  padding: 1.4em;
  max-height: 300px;
  transition: max-height 300ms ease-in-out, padding 300ms ease-in-out;
}

.nav-wrapper-nav {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #efeff1;
  border-radius: 8px;
  gap: 18px;
  padding: 0em;

  max-height: 0px;
  min-width: 100%;

  transition: max-height 300ms ease-in-out, padding 300ms ease-in-out;
}

// }

//////////////////////////
//* Navbar on desktop *//
//////////////////////////

@media (min-width: 700px) {
  .nav-item {
    padding-right: clamp(1em, 5%, 100px);
  }
  .menu-btn-container {
    display: none;
  }

  .menu-btn-checkbox:checked ~ .navbar,
  .navbar {
    position: static;
    overflow: visible;

    background-color: transparent;
    border: 0px solid;
    padding: 0.5em;
    // gap: 10px;

    justify-self: unset;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    max-height: unset;
    // max-width: 100vw;
  }

  .nav-input:checked ~ .nav-wrapper-nav {
    overflow: visible;
    padding: 1.4em;
    max-height: 1000vh;
    border: 1px solid;
    box-shadow: white 0 0 20px 2px;
  }

  .nav-wrapper-nav {
    position: absolute;

    background-color: white;
    border-radius: 5px;
    gap: 8px;
    padding: 0em;

    max-height: 0px;
    min-width: fit-content;
    top: 50px;
    z-index: 9;
  }
}

////////////////////////////
/* Account Button Design */
////////////////////////////

.account-btn-wrapper::before {
  overflow-x: visible;
  display: inline-block;
  content: "";
  width: 80vw;
  color: red;
  border: solid 1px #e4e4e4;
  border-radius: 50%;

  align-self: center;
  @media (min-width: 700px) {
    display: none;
  }
}

.account-btn-wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 130px;
  gap: 10px;

  button:first-of-type {
    background-color: transparent;
  }
  button:last-of-type {
    background: linear-gradient(90deg, #fe866e, #ff4757);
  }
  button:first-of-type:hover {
    background: $Light-red-CTA-text;
  }
  button:last-of-type:hover {
    background: transparent;
  }

  @media (min-width: 700px) {
    flex-direction: row;
    flex-grow: 1;

    justify-content: flex-end;

    button:first-of-type {
      background: transparent;
    }
    button:last-of-type {
      background: hsl(0, 0%, 100%);
    }
    button:first-of-type:hover {
      background: $Light-red-CTA-text;
    }
    button:last-of-type:hover {
      background:#ff7b86;
    }
  }
}
