@font-face {
  src: 
      // - Weights: 300, 600
    url("https://fonts.google.com/specimen/Overpass?preview.text_type=custom")
    // - Weights: 400, 500, 700
    url("https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom");
  font-family: Overpass, Ubuntu, serif;
}

* {
  font-family: Overpass, Ubuntu, serif;
}
$line-height: 29px;
header {
  text-align: center;
  color: white;
  h1{
    font-size: 3rem;
    font-weight: 400;
  }
  .navbar {
    color: black;
  }
  .nav-input:checked ~ .nav-list-wrapper-label {
    color: #697686;
  }
  @media (min-width: 800px) {
    .nav-list-wrapper-label {
      color: #ffccca;
    }
    .nav-input:checked ~ .nav-list-wrapper-label {
      color: rgb(255, 255, 255);
    }

    .account-btn-wrapper {
      button:first-of-type {
        font-weight: bold;
        color: #ffccca;
      }
      button:last-of-type {
        font-weight: bold;
        color: $Light-red-CTA-text;
      }
      button:last-of-type:hover {
        color: white;
      }
    }
  }
  .account-options{
       button:first-of-type {
           color: $Light-red-CTA-text;
        font-weight: bold;
      }
      button:last-of-type {
        font-weight: bold;
      }
      button:last-of-type:hover {
          color: $Light-red-CTA-text;
      }
  }
}

header a {
  color: black;
}
.content-section-one,
.section-one-content-wrapper {
  text-align: center;
  color: black;
  h3 {
    font-size: 1.6rem;
    line-height: $line-height;
    color: $Very-dark-gray-blue;
  }
  p {
    font-size: 0.9rem;
    color: $Very-dark-grayish-blue-body-copy;
    line-height: $line-height;
  }
  @media (min-width: 700px) {
    text-align: left;
  }
}
.section-two-content-wrapper {
  text-align: center;
  color: white;
  h3 {
    font-size: 1.6rem;
    line-height: $line-height;
    color: $White-text;
  }
  p {
    font-size: 0.9rem;
    color: $White-text;
    line-height: $line-height;
  }
  @media (min-width: 700px) {
    text-align: left;
  }
}
.content-section-three,
.section-three-content-wrapper {
  text-align: center;
  color: black;
  h3 {
    font-size: 1.6rem;
    line-height: $line-height;
    color: $Very-dark-gray-blue;
  }
  p {
    font-size: 0.9rem;
    color: $Very-dark-grayish-blue-body-copy;
    line-height: $line-height;
  }
  @media (min-width: 700px) {
    text-align: left;
  }
}

.attribution a,
footer{
  color: white;
}
footer a {
  color: $Grayish-blue-footer-text;
}
