@import "__var.scss", "__collapsible_list.scss", "__hamburger-menu.scss";

*,
*::after,
*::before {
  //See what Kewin turns off. #TODO
  margin: 0px;
  box-sizing: border-box;
  font-family: Overpass, Ubuntu, serif;
}
img {
  display: block;
}

// FONTS
@font-face {
  src: 
    // - Weights: 300, 600
    url("https://fonts.google.com/specimen/Overpass?preview.text_type=custom")
    // - Weights: 400, 500, 700
    url("https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom");
  font-family: Overpass, Ubuntu, serif;
}
.top-section-header-wrapper {
  background-color: $Light-red-CTA-text;
  background-image: url("/images/bg-pattern-intro-mobile.svg");
  background-position: center;
  max-width: 100vw;

  border-radius: 0px 0px 0px 50px / 0px 0px 0px 50px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .nav-list-wrapper-label::after {
    display: inline-block;
    content: url("/images/icon-arrow-light.svg");
  }
}
.top-section-header-wrapper::before {
  display: block;
  content: url("/images/logo.svg");
  align-self: center;
  align-self: center;

  flex-basis: 50%;
  flex-grow: 1;
}

.content-section-one {
  overflow: hidden;
  max-width: 100vw;
  position: relative;

  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    place-items: center;
    place-content: center;

    flex-direction: row;
    flex-wrap: wrap;
    .main-content-title {
      flex-basis: 100%;
      order: 1;
      text-align: center;
    }
    .section-one-img-wrapper {
      flex-basis: 50%;
      justify-self: flex-end;
      transform: translateX(30%);
      order: 3;
    }
    .section-one-content-wrapper {
      flex-basis: 50%;
      order: 2;
    }
  }
}

.content-section-two {
  position: relative;
  background: url("/images/bg-pattern-circles.svg") bottom center no-repeat;
  background-color: $Very-dark-gray-blue;
  border-radius: 0 100px / 0 120px;
  overflow: show;

  max-width: 100vw;
  display: grid;

  .section-two-img-wrapper {
    transform: translateY(-40%);
  }

  @media (min-width: 300px) {
    max-width: 100vw;
    place-items: center;
    place-content: space-evenly;
    grid-template-columns: 20% 40%;

    .section-two-img-wrapper {
      transform: translateY(0%);
      transform: scale(2);
    }
  }
}

.content-section-three {
  background: transparent;
  max-width: 100vw;

  display: grid;
  grid-auto-flow: row;
  place-items: center;

  @media (min-width: 500px) {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    .section-three-img-wrapper {
      transform: translateX(-30%);
    }
  }
}

.main-page-footer-wrapper {
  background-color: $Very-dark-black-blue-footer-background;
  border-radius: 0 100px 0 0 / 0 50px 0 0;
  max-width: 100vw;

  display: grid;
  grid-auto-flow: row;

  div {
    //Choose a better selector
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 400px) {
    grid-auto-flow: column;
  }
}
.main-page-footer-wrapper::before {
  display: block;
  content: url("/images/logo.svg");
}
